.app {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin: 10px 10px 10px 10px;
}

.title {
    margin: 0px;
    background: none;
    border: none;
    padding: 0;
    color: gray;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}

.stats {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.duration {
    text-shadow: 0 0 20px #6fbbd4;
}

.wpm {
    text-shadow: 0 0 20px #ffc600;
}

.acc {
    text-shadow: 0 0 20px #00ff00;
}

.error-rate {
    text-shadow: 0 0 20px red;
}

.text-section {
    padding: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0, 0.7);
    font-size: 35px;
}

.character-current {
    background-color: #ffc600;
}

.character-out {
    color: silver;
}

.key-default {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 3px solid black;
    border-radius: 5px;
    color: white;
    background: rgb(0, 0, 0, 0.7);
    text-shadow: 0 0 10px #ffc600;
    margin-right: 5px;
    font-size: 15px;
}

.key-double {
    display: flex;
    flex-direction: column;
}

.space-key {
    width: 50%;
}

.medium-key {
    width: 25%;
}

.key-pressed {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

.keyboard {
    background: rgb(0, 0, 0, 0.7);
    box-shadow: 0 0 20px gray;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

/* radio option size */
input {
    width: 25px;
    height: 25px;
}

.options {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.ionIcon {
    background: none;
    border: none;
    padding: 0;
    color: gray;
    cursor: pointer;
    margin: 5px;
}

.ionIcon:hover {
    color: black;
}

.title:hover {
    color: black;
}

.recentStats {
    display: flex;
    flex-direction: row;
}

.mode {
    text-shadow: 0 0 20px gray;
}
