.app {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.stats {
    margin-top: 10px;
    font-weight: bold;
    font-size: 24px;
}

.text-section {
    padding: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0, 0.7);
    font-size: 30px;
}

.character-current {
    background-color: #ffc600;
}

.character-out {
    color: silver;
}

.keyboard-key-default {
    display: flex;
    padding: 20px;
    border: 3px solid black;
    color: white;
    background: rgb(0, 0, 0, 0.7);
    text-shadow: 0 0 10px #ffc600;
    margin-right: 5px;
}

.keyboard-key-double {
    display: flex;
    flex-direction: column;
}

.key-pressed {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.duration {
    text-shadow: 0 0 20px #6fbbd4;
}

.wpm {
    text-shadow: 0 0 20px #ffc600;
}

.acc {
    text-shadow: 0 0 20px #00ff00;
}

.error-rate {
    text-shadow: 0 0 20px red;
}
