.app {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 10px 10px 30px 10px;
}

h1 {
    margin: 0px;
}

.stats {
    margin-top: 10px;
    font-weight: bold;
    font-size: 25px;
}

.text-section {
    padding: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0, 0.7);
    font-size: 35px;
}

.character-current {
    background-color: #ffc600;
}

.character-out {
    color: silver;
}

.key-default {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 3px solid black;
    border-radius: 5px;
    color: white;
    background: rgb(0, 0, 0, 0.7);
    text-shadow: 0 0 10px #ffc600;
    margin-right: 5px;
    font-size: 15px;
}

.key-double {
    display: flex;
    flex-direction: column;
}

.space-key {
    width: 50%;
}

.medium-key {
    width: 15%;
}

.key-pressed {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

.keyboard {
    background: rgb(0, 0, 0, 0.7);
    box-shadow: 0 0 20px gray;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.duration {
    text-shadow: 0 0 20px #6fbbd4;
}

.wpm {
    text-shadow: 0 0 20px #ffc600;
}

.acc {
    text-shadow: 0 0 20px #00ff00;
}

.error-rate {
    text-shadow: 0 0 20px red;
}

/* https://www.w3schools.com/howto/howto_css_modals.asp */

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    top: 0; /* without the header appears strangly */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    padding: 30px 30px 100px 30px;
    border: 1px solid #888;
    width: 30%;
}
/* checkbox size */
input {
    width: 25px;
    height: 25px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-weight: bold;
    margin: 0px 0px 30px 0px;
}

.setting-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.ionIcon {
    background: none;
    border: none;
    padding: 0;
    color: #6f2da8;
    text-decoration: underline;
    cursor: pointer;
}
